body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #8e5cd1, #b56fe0);
  font-family: Arial, sans-serif;
}

#buttons {
  display: flex;
  justify-content:space-between;
  gap: 10px;
}

.btn {
  background-color: #5a2d91;
  color: white;
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  text-transform: lowercase;
}

.btn:hover {
  background-color: #4a2478;
}
